<!DOCTYPE html>
<html>
<head>
  <head>
    <link rel="icon" type="image/png" href="/static/favicon.ico" sizes="32x32" />
    <title>FoodLuv : Soft Drinks</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  <body>
    <a href="/drinks" class="c1"><b>Soft Drinks</b></a>
    <a href="/" class="c2"><b>FoodLuv</b></a>
<a href="/cart" class="c3"><b>Cart({{ num }})</b></a>
    <div class="card" style="width: 18rem;position:absolute;top:150px;">
  <img class="card-img-top" src="/static/7up.jpg" alt="Card image cap">
  <div class="card-body">
    <p style="text-align:left;font-family: cursive;font-size: x-large;" class="card-text">7 UP<br>$2/Can</p>
    <button onclick="window.location.href='/sup'" type="button" class="btn btn-outline-success">Add to cart</button>
  </div>
</div>
<div class="card" style="width: 17rem;position:absolute;top:150px;left:500px">
  <img class="card-img-top" src="/static/dew.png" alt="Card image cap">
  <div class="card-body">
    <p style="text-align:left;font-family: cursive;font-size: x-large;" class="card-text">Mountain Dew<br>$2/Can</p>
    <button onclick="window.location.href='/dew'" type="button" class="btn btn-outline-success">Add to cart</button>
  </div>
</div>
<div class="card" style="width: 18rem;position:absolute;top:150px;left:950px">
  <img class="card-img-top" src="/static/fanta.png" alt="Card image cap">
  <div class="card-body">
    <p style="text-align:left;font-family: cursive;font-size: x-large;" class="card-text">Fanta<br>$2/Can</p>
    <button onclick="window.location.href='/Fanta'" type="button" class="btn btn-outline-success">Add to cart</button>
  </div>
</div>
<div class="card" style="width: 19rem;position:absolute;top:550px">
  <img class="card-img-top" src="/static/pepsi.jpg" alt="Card image cap">
  <div class="card-body">
    <p style="text-align:left;font-family: cursive;font-size: x-large;" class="card-text">Pepsi<br>$2/Can</p>
    <button onclick="window.location.href='/Pepsi'" type="button" class="btn btn-outline-success">Add to cart</button>
  </div>
</div>
<div class="card" style="width: 18rem;position:absolute;top:550px;left:500px">
  <img class="card-img-top" src="/static/sprite.jpg" alt="Card image cap">
  <div class="card-body">
    <p style="text-align:left;font-family: cursive;font-size: x-large;" class="card-text">Sprite<br>$2/Can</p>
    <button onclick="window.location.href='/Sprite'" type="button" class="btn btn-outline-success">Add to cart</button>
  </div>
</div>
<div class="card" style="width: 18rem;position:absolute;top:550px;left:950px">
  <img class="card-img-top" src="/static/cocacola.jpg" alt="Card image cap">
  <div class="card-body">
    <p style="text-align:left;font-family: cursive;font-size: x-large;" class="card-text">Coca Cola<br>$2/Can</p>
    <button onclick="window.location.href='/cocacola'" type="button" class="btn btn-outline-success">Add to cart</button>
  </div>
</div>
  </body>
    </html>
